body{
    background-image:url(123.jpg);
    text-align: center;
    margin-top: 200px;
    margin-bottom: 250px;
}
#city
{
    background-color:white;
    color: black;
    height:30px;
}
#btn{
    background-color: blue;
    color: white;
    height:30px;
}
#output{
    margin-left: 645px;
    margin-right: 700px;
    border: solid 2px;
    width:230px;
    height:30px;
    background-color: gray;
    /* color:blue; */
}
#temp{
    height: 100px;

    color: rgb(26, 23, 23);
}
hr{
    color:black;
}